doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='http://fonts.googleapis.com/css?family=Raleway:300,400' rel='stylesheet' type='text/css')

		//- Navigation bar
		include navbar.jade

	body
		block content